html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  background-color: #f3f5f5;
}

img { width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  margin-bottom: 2rem;
}

h1 { font-size: 3rem; }

h2 { font-size: 2.5rem; }

h3 { font-size: 2rem; }

p, a {
  font-size: 1.5rem;
  line-height: 2rem;
}

a { color: #4285f4; }

.text-center { text-align: center; }

img.mobile { display: none; }

@media only screen and (max-width: 425px) {

  img.desktop { display: none; }
  img.mobile { display: block;}

}

/* header */

header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.logo { height: 32px; }

.logo img { width: auto; }

.logo > * {
  display: inline-block;
  vertical-align: middle;
}

.logo p {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.logo p span {
  font-weight: 400;
  color: #9b9b9b;
}

nav.desktop-nav {
  text-align: right;
  font-size: 1.25rem;
}

nav.desktop-nav ul li {
  display: inline-block;
  margin-right: 2rem;
}

nav.desktop-nav ul li:last-child { margin-right: 0; }

nav.mobile-nav { display: none; }

@media only screen and (max-width: 425px) {
  
  header {
    grid-template-columns: 1fr 3fr;
    padding: 0.95rem 0;
  }

  .logo { justify-self: center; }

  .logo p { display: none; }

  nav.desktop-nav { display: none; }

  nav.mobile-nav { display: block; }

  nav.mobile-nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  nav.mobile-nav ul li img { height: 32px; }

}

/* banner */

#banner {
  display: grid;
  grid-template-columns: 7fr 5fr;
  background-color: #d8d8d8;
  align-items: center;
}

#banner .left,
#banner .right {
  padding: 3rem;
}

#banner .right p { margin-bottom: 2rem; }

#banner .right button {
  cursor: pointer;
  width: 100%;
  background-color: #4a4a4a;
  border: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}

#banner .right button:hover,
#banner .right button:focus {
  background-color: #4285f4;
  transition: all ease-in-out 0.2s;
}

@media only screen and (max-width: 425px) {

  #banner { grid-template-columns: 1fr; }
  #banner .left { padding: 0; }
  #banner .right { padding: 2rem; }

}

/* information */

#information,
#thesis {
  display: grid;
  grid-template-columns: 7fr 5fr;
}

#information .left,
#thesis .left {
  padding: 3rem;
  border-right: 1px solid #d8d8d8;
}

#information .left img { margin-bottom: 3rem; }

#information p.byline {
  margin-top: 2rem;
  font-size: 1.2rem;
}

#information .info-block,
#thesis .thesis-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 3rem;
  border-bottom: 1px solid #d8d8d8;
}

#information .info-block:last-child,
#thesis .thesis-block:last-child {
  border-bottom: none;
}

#information .info-block:hover,
#information .info-block:focus,
#thesis .thesis-block:hover,
#thesis .thesis-block:focus {
  background-color: #d8d8d8;
  transition: all ease-in-out 0.2s;
}

#information .info-block .info,
#thesis .thesis-block .info {
  padding-left: 2rem;
  align-self: center;
}

#information .info-block .info h3,
#thesis .thesis-block .info h3 {
  margin-bottom: 1rem;
}

#information .info-block .info p,
#thesis .thesis-block .info p {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 425px) {

  #information {
    grid-template-columns: 1fr;
    border-bottom: 1px solid #d8d8d8;
  }

  #information .left { display: none; }

  #information .info-block {
    padding: 2rem;
    grid-template-columns: 1fr;
    border-bottom: none;
  }

  #information img { margin-bottom: 2rem; }

  #information .info-block .info { padding: 0 1rem; }

  #information .info-block .info p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  #information .info-block .info a { font-size: 1.2rem; }

}

/* courses */

#courses {
  background-color: #eaebec;
  padding: 3rem 10rem;
}

#courses .course-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 3rem;
}

#courses .course-grid .course-block { background-color: white; }

#courses .course-grid .course-block .info { padding: 3rem; }

#courses .course-grid .course-block .info h3 { margin-bottom: 1.2rem; }

#courses .course-grid .course-block .info p.tag {
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 425px) {

  #courses {
    background: none;
    padding: 2rem;
    border-bottom: 1px solid #d8d8d8;
  }

  #courses .course-grid {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  #courses .course-grid .course-block { background-color: #d8d8d8; }

  #courses .course-grid .course-block img,
  #courses .course-grid .course-block .info p {
    display: none;
  }

  #courses .course-grid .course-block .info { padding: 2rem; }

  #courses .course-grid .course-block .info h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

}

/* thesis */

#thesis { padding-top: 3rem; }

#thesis h2 { grid-column: 1 / 3; }

@media only screen and (max-width: 425px) {

  #thesis { grid-template-columns: 1fr; }

  #thesis .left { padding: 0; }

  #thesis .left h3,
  #thesis .left p,
  #thesis .right {
    display: none;
  }

}

/* footer */

footer {
  border-top: 1px solid #d8d8d8;
  padding: 1.5rem 3rem 6rem;
}

footer p {
  font-size: 1rem;
  float: left;
}

footer ul.footer-nav { float: right; }

footer ul.footer-nav li {
  display: inline-block;
  margin-right: 1rem;
}

footer ul.footer-nav li:last-child { margin-right: 0; }

@media only screen and (max-width: 425px) {

  footer {
    padding: 3rem 1rem;
    border-top: none;
  }

  footer p { font-size: 0.75rem; }

  footer ul { display: none; }

}